# ===============================
# Core Customer Service
# ===============================
SPRING_PROFILES_ACTIVE=docker
SPRING_APPLICATION_NAME=core-customer-service
SERVER_PORT=8082
APP_TIME_ZONE=America/Guayaquil

# ===============================
# Database - local example
# In Docker/cloud use mysql-customer:3306
# ===============================
CUSTOMER_DB_URL=jdbc:mysql://mysql-customer:3306/banquito_core_customer_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Guayaquil
CUSTOMER_DB_USER=root
CUSTOMER_DB_PASSWORD=ChangeMeCustomerPassword

# ===============================
# JPA / Flyway
# ===============================
JPA_DDL_AUTO=validate
HIBERNATE_FORMAT_SQL=false
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true
FLYWAY_BASELINE_VERSION=1

# ===============================
# Security - must match identity-access-service
# ===============================
JWT_ISSUER=banquito-identity-access
JWT_SECRET=ChangeMeWithStrongJwtSecret

# ===============================
# Demo data
# ===============================
DEMO_DATA_ENABLED=false

# ===============================
# gRPC reserved for internal Core communication
# Account -> Customer will use this contract in the integration phase
# ===============================
GRPC_SERVER_PORT=9092

# ===============================
# Actuator / OpenAPI
# ===============================
ACTUATOR_EXPOSURE=health,info
ACTUATOR_HEALTH_SHOW_DETAILS=always
OPENAPI_DOCS_PATH=/api-docs
SWAGGER_UI_PATH=/swagger-ui.html
